html {
  scroll-behavior: smooth;
  background: #ffff;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

body {
  font-family: system-ui, sans-serif;
}

.embla {
  max-width: 155rem;
  margin: auto;
  --slide-spacing: 14rem;
  --slide-size: 30%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.shadow-img {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8))
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}